extends layout

block content
  h1= title
  p Welcome to #{title}
  div#content
  div.row
      div.medium-6.large-3.columns
        div.callout-card.success
            div.card-label
                div.label-text Win!
            div.callout-card-content
                h3.lead Mad Max: Fury Road
                p In a post button
